* {
    margin: 0;
    padding: 0;
}
.contas {
    background-image: url("https://images.pexels.com/photos/6873175/pexels-photo-6873175.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 70vh;
    width: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
.appointement_container {
    padding: 30px;
    font-family: "poppins", sans-serif;
}

.appointment_form {
    padding: 60px 40px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.appointment_input {
    width: 100%;
}

.appointment_input select{
    width: 100%;
    margin-top: 5px;
    padding: 15px 10px;
    border: 1px solid #888888;
    border-radius: 5px;
}

.appointment_input input {
    width: 100%;
    margin-top: 5px;
    padding: 15px 10px;
    border: 1px solid #888888;
    border-radius: 5px;
}

.appointment_input textarea{
    width: 100%;
    margin-top: 5px;
    padding: 15px 10px;
    border: 1px solid #888888;
    border-radius: 5px;
}

input::placeholder {
    font-size: 16px;
    display: flex;
    align-items: center;
}

.appointment_input label {
    font-size: 15px;
    margin-bottom: 10px;
    text-transform: capitalize;
}
.appointment_input:nth-child(9){
    grid-column: 1/3;
}